DATABASE_URL="postgresql://postgres:postgres@localhost:5432/starbucks_medium?schema=public"
AUTH_SECRET="replace-with-a-long-random-secret-at-least-32-characters"
NEXT_PUBLIC_APP_URL="http://localhost:3011"
